/*className's*/
.App {
  text-align: center;
  color: #212529;
  background-color: #212529;
}
.Tab {
  height: 200px;
}
.App-logo {
  pointer-events: none;
}
.font-edit {
  font-family: 'Forum', cursive;
}
.App-link {
  color: #61dafb;
}
.App-footer {
  margin-top: 240px;
  margin-bottom: 0;
  height: 208px;
  color: #212529;
  background-color: #212529;
}
.nav-link{
  color: #6C757D !important;
  text-decoration: none;
}
.nav-link:hover{
  color: #6C757D !important;
  text-decoration: underline;
}

/*Components*/
header {
  color: #212529;
  background-color: #212529;
}
h1 {
  color: #6C757D;
}
h3 {
  color: #6C757D;
}
li {
  color: #6C757D;
}
b {
  color: #6C757D;
}
i {
  color: #6C757D;
}
input {
  background-color: #171717;
  color: #6C757D;
}
text {
  color: #6C757D;
}

/*Rules*/
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg) rotateY(0deg);
  }
  to {
    transform: rotate(360deg) rotateY(360deg);
  }
}
