.App {
  text-align: center;
  color: #171717;

}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #171717;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Home-container {
  background-color: #171717;
}

header {
  background-color: #171717;
}

footer {
  background-color: #171717;
}

h1 {
  color: white;
}

h3 {
  color: white;
}

li {
  color: white;
}

b {
  color: white;
}

i {
  color: white;
}

text {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
